<div class="form" >
  <form action="/answer" method="get">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>


<%# <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="ask" class="col-form-label">Ask anything:</label>
  </div>
  <div class="col-auto">

  </div> %>

</div>
