// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.banner {
  background-color: rgb(243, 237, 238);
  width: 100%;
  height: 200px;
  border-bottom: bold black;
}

h1 {
  text-align: center;
}
